# AUTHOR Josh Lee
# (email) Josh.Lee@FranklinTempleton.com
# Created December 09, 2022
unset BLACK_ON_BLACK;
unset RESETCOLOR;
unset DARK_RED; unset UNDERLINE_DARK_RED; unset RED; unset UNDERLINE_RED;
unset DARK_GREEN; unset UNDERLINE_DARK_GREEN; unset GREEN; unset UNDERLINE_GREEN;
unset DARK_YELLOW; unset UNDERLINE_DARK_YELLOW; unset YELLOW; unset UNDERLINE_YELLOW;
unset DARK_BLUE; unset UNDERLINE_DARK_BLUE; unset BLUE; unset UNDERLINE_BLUE;
unset PINK; unset UNDERLINE_PINK;
unset PURPLE; unset UNDERLINE_PURPLE;
unset DARK_SKY; unset UNDERLINE_DARK_SKY; unset SKY; unset UNDERLINE_SKY;
unset DARK_GRAY; unset UNDERLINE_DARK_GRAY; unset GRAY; unset UNDERLINE_GRAY;
unset DARK_GREY; unset UNDERLINE_DARK_GREY; unset GREY; unset UNDERLINE_GREY;
unset VERYDARK_GREY; unset UNDERLINE_VERYDARK_GREY; unset WHITE; unset UNDERLINE_WHITE;
unset BRACKET_COLOR; unset DEFAULT_COLOR; unset DCOLOR;


BLACK_ON_BLACK="\[\e[0;30m\]"; # SAME AS \[\e[0m\]

RESETCOLOR="\[\e[0m\]";

DARK_RED="\[\e[0;31m\]";
UNDERLINE_DARK_RED="\[\e[4;37m\]\[\e[4;31m\]";

RED="${RESETCOLOR}\[\e[1;31m\]";
UNDERLINE_RED="\[\e[4m\]\[\e[1;31m\]";

DARK_GREEN="\[\e[0;32m\]";
UNDERLINE_DARK_GREEN="\[\e[4;37m\]\[\e[4;32m\]";
GREEN="${RESETCOLOR}\[\e[1;32m\]";
UNDERLINE_GREEN="\[\e[4;32m\]";

DARK_YELLOW="\[\e[0;33m\]";
UNDERLINE_DARK_YELLOW="\[\e[4;37m\]\[\e[4;33m\]";

YELLOW="${RESETCOLOR}\[\e[1;33m\]";
UNDERLINE_YELLOW="\[\e[4;33m\]";

DARK_BLUE="\[\e[0;34m\]";
UNDERLINE_DARK_BLUE="\[\e[4;37m\]\[\e[4;34m\]";

BLUE="${RESETCOLOR}\[\e[1;34m\]";
UNDERLINE_BLUE="\[\e[4m\]\[\e[1;34m\]";

PURPLE="\[\e[0;35m\]";
UNDERLINE_PURPLE="\[\e[4;37m\]\[\e[4;35m\]";

PINK="${RESETCOLOR}\[\e[1;35m\]";
UNDERLINE_PINK="\[\e[4m\]\[\e[1;35m\]";

DARK_SKY="\e[0;36m\]";
UNDERLINE_DARK_SKY="\[\e[4;37m\]\[\e[4;36m\]";

SKY="${RESETCOLOR}\[\e[1;36m\]";
UNDERLINE_SKY="\[\e[4m\]\[\e[1;36m\]";

DARK_GRAY="\[\e[30;1m\]"; DARK_GREY="\[\e[30;1m\]";
UNDERLINE_DARK_GRAY="\[\e[4;37m\]\[\e[30;1m\]"; UNDERLINE_DARK_GREY="\[\e[4;37m\]\[\e[30;1m\]";

GRAY="\[\e[37m\]"; GREY="\[\e[37m\]";
UNDERLINE_GRAY="\[\e[4;37m\]"; UNDERLINE_GREY="\[\e[4m\]\[\e[37m\]";

VERYDARK_GREY="\[\e[1m\]\[\e[2;30m\]";
UNDERLINE_VERYDARK_GREY="\[\e[4m\]\[\e[1m\]\[\e[2;30m\]";

WHITE="\[\e[1;37m\]";
UNDERLINE_WHITE="\[\e[4m\]\[\e[37;1m\]";


# BRACKET_COLOR=$DARK_GREY
BRACKET_COLOR=$GREY
DEFAULT_COLOR=$GREY
DCOLOR=$DEFAULT_COLOR

# DEV COLORS
# PRIMARY=$SKY
# SECONDARY=$DARK_SKY

## PROD COLORS
PRIMARY=$GREEN
SECONDARY=$DARK_GREEN

if [ "$EUID" == 0 ]; then
  export USER_COLOR=$RED;
  unset BRACKET_COLOR; BRACKET_COLOR=$DARK_RED;
  export BRACKET_COLOR=$DARK_RED;
else
  USER_COLOR=$PRIMARY;
fi


# TO SEE THESE, type "PS1=$ALLCOLORS" then close the window when done.
export ALLCOLORS="${RESETCOLOR} ${UNDERLINE_DARK_RED}UNDERLINE_DARK_RED, ${DARK_RED}DARK_RED, 
${RESETCOLOR} ${UNDERLINE_RED}UNDERLINE_RED, ${RED}RED,
${RESETCOLOR} ${UNDERLINE_DARK_GREEN}UNDERLINE_DARK_GREEN, ${DARK_GREEN}DARK_GREEN,
${RESETCOLOR} ${UNDERLINE_GREEN}UNDERLINE_GREEN, ${GREEN}GREEN,
${RESETCOLOR} ${UNDERLINE_DARK_YELLOW}UNDERLINE_DARK_YELLOW, ${DARK_YELLOW}DARK_YELLOW, 
${RESETCOLOR} ${UNDERLINE_YELLOW}UNDERLINE_YELLOW, ${YELLOW}YELLOW, 
${RESETCOLOR} ${UNDERLINE_DARK_BLUE}UNDERLINE_DARK_BLUE, ${DARK_BLUE}DARK_BLUE,
${RESETCOLOR} ${UNDERLINE_BLUE}UNDERLINE_BLUE, ${BLUE}BLUE,
${RESETCOLOR} ${UNDERLINE_PURPLE}UNDERLINE_PURPLE, ${PURPLE}PURPLE, 
${RESETCOLOR} ${UNDERLINE_PINK}UNDERLINE_PINK, ${PINK}PINK,
${RESETCOLOR} ${UNDERLINE_DARK_SKY}UNDERLINE_DARK_SKY, ${DARK_SKY}DARK_SKY, 
${RESETCOLOR} ${UNDERLINE_SKY}UNDERLINE_SKY, ${SKY}SKY,
${RESETCOLOR} ${UNDERLINE_VERYDARK_GREY}UNDERLINE_VERYDARK_GREY, ${RESETCOLOR} ${VERYDARK_GREY}VERYDARK_GREY,
${RESETCOLOR} ${UNDERLINE_DARK_GRAY}UNDERLINE_DARK_GRAY, ${RESETCOLOR}  ${DARK_GRAY}DARK_GRAY, 
${RESETCOLOR} ${UNDERLINE_GRAY}UNDERLINE_GRAY, ${RESETCOLOR} ${GRAY}GRAY,
${RESETCOLOR} ${UNDERLINE_GREY}UNDERLINE_GREY, ${RESETCOLOR} ${GREY}GREY,
${RESETCOLOR} ${UNDERLINE_WHITE}UNDERLINE_WHITE, ${RESETCOLOR}  ${WHITE}WHITE,
${RESETCOLOR} ";
