
# .bashrc

    alias web='cd /usr/local/www/cmd'
    alias cls='cd /usr/local/www/cmd/classes'
    alias cron='cd /usr/local/www/cmd/cron'
    alias pages='cd /usr/local/www/cmd/pages'
    alias reps='cd /usr/local/www/cmd/reports'
    alias sql='cd /usr/local/www/cmd/sql'
    alias utl='cd /usr/local/www/cmd/util'

		alias conf='vi /usr/local/www/cmd/config/config.php'
		alias vdt='vi /usr/local/www/cmd/classes/dispatch_table.inc'	
