# ~/.bashrc: executed by bash(1) for non-login shells.

export PATH="/sbin/:$PATH"
export PATH="~/.local/bin/:~/bin/:$PATH"
export PATH="/usr/sbin/:/bin/:/usr/bin/:$PATH"
export PGPASSFILE='~/.pgpass'
export MYSQL_HOME='~/' #'~/my.cnf'
export SESSION_DIR="~/.sessions/"

export PAGER="/usr/bin/less"
export EDITOR="vim"

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias vi='vim'
alias v='vi'
alias vu='vulture'
alias pf='pyflakes'

if [[ "$OSTYPE" == "cygwin" ]]; then
	alias ping='ping -n 4'
else
	alias ping='ping -c 4'
fi

alias dc='cd ..'

alias screen='screen -U'
alias x='screen -x'

alias cls='/usr/bin/clear'
alias c='/usr/bin/clear'
alias f='fg'
alias j='jobs'
alias p='pwd'

alias more='less -R'
alias less='less -R'

alias grep="grep --color=auto --exclude='*.swp' --exclude='*.swo' --exclude='*.swc' --exclude='*.pyc' "
alias diff="diff --exclude='*.swp' --exclude='*.swo' --exclude='*.swc' --exclude='*.pyc' "

alias notes='vi ~/notes.txt'
alias todo='vi ~/todo.txt'

alias brc='vi ~/.bashrc'
alias scr='vi ~/.screenrc'
alias grc='vi ~/bashrc/git-shortcuts.rc'
alias vrc='vi ~/.vimrc'
alias src='source ~/.bashrc'

alias ulist='uniquelist'

# -----------------------------------------------------------------------------
# important, this allows colors from ls to pull through whne piping to more or less
if [ -x /usr/bin/dircolors ]; then
	test -r /usr/bin/dircolors && eval "$(/usr/bin/dircolors -b)" || eval "$(/usr/bin/dircolors -b)"
	alias ls='ls --color=always'
	alias dir='ls --color=always --format=vertical'
	alias vdir='ls --color=always --format=long'

	alias grep="grep --color=auto --exclude='*.swp' --exclude='*.swo' --exclude='*.swc' --exclude='*.pyc' "
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
fi
# enable color support of ls and also add handy aliases

alias ll='ls -halF --time-style=long-iso --color=always'
alias la='ls -A'

# BOOM!!!!
function _bestLS() {
	echo '';
	echo 'MODE|Dir Size|Perms|Link Count|Owner|Group|Size|Mod.  Time|Name';
	echo '';
	alias _awk4ls="awk '{k=0;s=0;for(i=0;i<=8;i++){;k+=((substr(\$2,i+2,1)~/[rwxst]/)*2^(8-i));};j=4;for(i=4;i<=10;i+=3){;s+=((substr(\$1,i,1)~/[stST]/)*j);j/=2;};if(k){;printf(\"%0o%0o \",s,k);};print;}";

	if [ "$*" == '' ]; then
		ls_output=`ls -shaFl --time-style=long-iso --color=always -F --group-directories-first --format=long | _awk4ls`;
	else
		ls_output=`ls -shaFl --time-style=long-iso --color=always -F --group-directories-first --format=long $* | _awk4ls`;
	fi
	echo "$ls_output" | grep -v '^total';
	#echo ''; # I don't need this, now that: export PS4="\n"
}
alias l="_bestLS"

IP=`LANG=c getip | awk -F: '{print $1}'`

if [ -f project-bookmarks.rc ]; then
	. project-bookmarks.rc
elif [ -f ~/bashrc/project-bookmarks.rc ]; then
	. ~/bashrc/project-bookmarks.rc
else
	PS1="\n\[\e[37;0m\](\[\e[1;32m\]\u\[\e[0;37m\]@IP:$IP)-[last command: \${timer_show} seconds]-(\[\e[0;32m\]\D{%H:%M:%S %p} \d\[\e[37;1m\])->\[\e[37;1m\]\n(\[\e[1;33m\]\w\[\e[35;1m\] has \[\e[37;1m\]\$(/bin/ls -1 | /usr/bin/wc -l | /bin/sed 's: ::g') files, \$(/bin/ls -lah | /bin/grep -m 1 total | /bin/sed 's/total //')b\[\e[37;0m\]) ->\n --> \[\e[0m\]"
fi


