
	export PATH="/root/bin:$PATH"
	alias tacc='tail -f /var/log/apache2/access.log'
	alias terr='tail -f /var/log/apache2/error.log'
	alias mlog='tail -f /var/log/mail.log'
	alias kpsql='psql -Uadmin kas_dev'

	alias web='cd /data/cell/web/kas/kas/'
	alias cls='cd /data/cell/web/kas/kas/classes/'
	alias conf='cd /data/cell/web/kas/kas/config/'
	alias cron='cd /data/cell/web/kas/kas/cron/'
	alias pages='cd /data/cell/web/kas/kas/pages/'
	alias reps='cd /data/cell/web/kas/kas/reports/'
	alias sql='cd /data/cell/web/kas/kas/sql/'
	alias utl='cd /data/cell/web/kas/kas/util/'

 	PS1="\n\[\e[30;1m\](\[\e[1;34m\]\u\[\e[1;30m\]@\[\e[1;34m\]\h\[\e[30;1m\])-(\[\e[0;31m\]\w\[\e[30;1m\])-(\[\e[1;34m\]\@ \d\[\e[30;1m\])->\[\e[30;1m\]\n(\[\e[37;1m\]\$(/bin/ls -1 | /usr/bin/wc -l | /bin/sed 's: ::g') files, \$(/bin/ls -lah | /bin/grep -m 1 total | /bin/sed 's/total //')b\[\e[30;1m\])--> \[\e[0m\]"
