# ~/.bashrc: executed by bash(1) for non-login shells.

export PATH="/sbin/:$PATH"
export PAGER="/usr/bin/less"
export EDITOR="vim"
export SESSION_DIR="/root/.sessions"



[ -z "$PS1" ] && return

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias vi='vim'
alias ping='ping -c 4'
alias dc='cd ..'

alias brc='vi /root/.bashrc'
alias vrc='vi /root/.vimrc'
alias src='source /root/.bashrc'
alias bin='cd /root/bin'
alias etc='cd /root/etc'
alias log='cd /root/log'

alias notes='vi /root/notes.txt'
alias todo='vi /root/todo.txt'


alias x='screen -r'
alias fn='find . -iname '
alias list='screen -list'
alias d='screen -d'
alias RR='screen -RR'
alias f='fg'
alias j='jobs'
alias p='pwd'
alias c='/usr/bin/clear'



# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
else
    eval `dircolors -b`
fi

# important, this allows colors from ls to pull through whne piping to more or less
alias more='less -R'
alias less='less -R'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -saFlh --time-style=long-iso --color'

alias grep="grep --exclude='*.swp'"
alias gr="grep -r --exclude='debug.log*' "
# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='echo "Dir Size|Perms|Link Count|Owner|Group|Size|Mod. Time|Name"; ls -AFls -h --time-style=long-iso --color --group-directories-first'

export svnroot=svn+ssh://file077@svn.code.sf.net/p/pytis/code/trunk
export SVN_SSH="ssh -l file077"
export SVNROOT=svnroot

alias svu='svn update'
alias u='svu'
alias i='svn commit'

